.container {
    width: 80%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

.rfid-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.rfid-table th,
.rfid-table td {
  border: 1px solid #333; /* table lines */
  padding: 10px;
}

.rfid-table thead {
  background-color: #333;
  color: rgb(253, 11, 11);
}



.entry {
  background-color: #28a745;
  color: white;
  padding: 3px 8px;
  border-radius: 4px;
}

.exit {
  background-color: #dc3545;
  color: white;
  padding: 3px 8px;
  border-radius: 4px;
}
.filter-button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
}
.Clear-Logs{

     background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 4px;
}